<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>881046360405-bujk7ol36e1h5bs1mo38no91nld0m4ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881046360405-bujk7ol36e1h5bs1mo38no91nld0m4ok</string>
	<key>API_KEY</key>
	<string>AIzaSyDmBgu0s6xjmaa_vkPyOEWqU3pPh46OTl0</string>
	<key>GCM_SENDER_ID</key>
	<string>881046360405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.lp.SmartCam</string>
	<key>PROJECT_ID</key>
	<string>smartcam-95d32</string>
	<key>STORAGE_BUCKET</key>
	<string>smartcam-95d32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:881046360405:ios:4dfd4546d37e32b7</string>
	<key>DATABASE_URL</key>
	<string>https://smartcam-95d32.firebaseio.com</string>
</dict>
</plist>